$primary: red;
$max-width: 1280px;
$navbar-height: 64px;
$bg-color: #020202;
$bg-color-transparent: #020202d5;
$bg-drawer-overlay: #0202022e;
$bg-drawer: #151212;
$accent-color: #e9ecef;
$border-color: #f4f4f3b2;
$text-color: #f4f4f3;
$text-color-transparent: #f4f4f3b2;
$primary-color: #c60000;
$primary-color-light: #c600009c;
$mobile-breakpoint: 768px;
