@use 'reset';
@use 'base';

h1 {
  color: $primary;
}
body {
  background-color: $bg-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.custom-container {
  max-width: $max-width;
  margin: 0 auto;
}
